<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../includes/bootstrap-3.3.7/dist/css/bootstrap.css">
    <script type="text/javascript" language="javascript1.5" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" language="javascript1.5" src="../js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../js/jquery-validation-1.15.1/dist/jquery.validate.min.js"></script>
    <script src="../js/jquery-validation-1.15.1/dist/additional-methods.min.js"></script>
    <script type="text/javascript" language="javascript1.5" src="../js/scriprincipal.js"></script>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <title>Sesion no iniciada</title>
</head>
<body>
<header id="header">
    <a href="index.html" class="logo"><strong>Revista</strong> U caldas</a>
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
    </ul>
</header>
<section class="container">
    <div class="container-fluid">
        <h1>Sesión no iniciada</h1>
        <p>Por favor inicia sesión o registrate para acceder al contenido</p>
        <button onclick="redireccionar('login')">Iniciar Sesión</button>
        <button onclick="redireccionar('registro')">Registrarse</button>
        <button onclick="redireccionar('index')">Pagina Principal</button>
    </div>
</section>

</body>
</html>