<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../includes/bootstrap-3.3.7/dist/css/bootstrap.css">  
    <script type="text/javascript" language="javascript1.5" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" language="javascript1.5" src="../js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../js/jquery-validation-1.15.1/dist/jquery.validate.min.js"></script>
    <script src="../js/jquery-validation-1.15.1/dist/additional-methods.min.js"></script>
    <script type="text/javascript" language="javascript1.5" src="../js/scriprincipal.js"></script>
    <meta name="viewport" content="width=device-width" initial-scale="1">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<title>RegisterPage</title>
</head>
<body>
<header id="header">
	<a href="index.html" class="logo"><strong>Revista</strong> U caldas</a>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
	</ul>
</header>
<nav></nav>
<br>
<section>
	<div class="container">
		<form id="registro">
			<table id="tableR">
				<tr><td><label>Nombre de usuario</label></td><td><input type="text" name="id" id="id" placeholder="EjempLo334"></td></tr>
				<tr><td><label>Contraseña</label></td><td><input type="text" name="contraseña" id="contraseña" placeholder="contraseña"></td></tr>
				<tr><td><label>Confirme Contraseña </label></td> <td><input type="text" name="ccontraseña" id="ccontraseña"></td></tr>
				<tr><td><label>Nombre</label></td><td><input type="text" name="nombre" id="nombre" placeholder="Nombre completo"></td></tr>
				<tr><td><label>Direccion</label></td><td><input type="text" name="Apellido" id="Apellido"></td></tr>
				<tr><td><label>Telefono</label></td><td><input type="text" name="telefono" id="telefono"></td></tr>
				<tr><td><label>Correo electronico</label></td> <td><input type="text" name="correo" id="correo" placeholder=" ejemplo345@hotmail.com"></td></tr>
				<tr><td><label>Departamento</label></td><td><input type="text" name="Departamento" id="Departamento"></td></tr>
				<tr><td><label>Tipo de registro: </label></td> <td><select id="tipo">
																		<option value="" ></option>
																		<option value="autor" id="autor">Autor</option>
																		<option value="par" id="par">Par</option>
																	</select></td></tr>
				
			</table>
			<div>
				<button id="registrate" class="btn">Registrarse</button><button id="cancel" class="btn">Cancelar</button>

			</div>
		</form>
	</div>

</section>
<footer></footer>
</body>
</html>